# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import googlemaps
import gmaps
import os
import csv

# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)
gmaps_places = googlemaps.Client(key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
file = "../output_data/cities.csv"
vacation_df = pd.read_csv(file)
vacation_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
locations = vacation_df[['Lat', 'Lng']]
weights = vacation_df['Humidity']
#fig = gmaps.figure(center =[0,0], zoom_level =2)
fig = gmaps.figure(map_type='SATELLITE',center =[0,0], zoom_level =2)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights[:len(locations)]))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
# Column Reordering
vac_weather_2 = vacation_df.loc[(vacation_df['Max Temp']>=70)&(vacation_df['Max Temp']<=80)]
vac_weather_1 = vac_weather_2.loc[(vac_weather_2['Wind Speed']<=10)]
vac_weather = vac_weather_1.loc[(vac_weather_1['Cloudiness']==0)]

# Remove rows missing data
vac_weather= vac_weather.dropna()

# Visualize
print(len(vac_weather))
vac_weather

7

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
# Add marker layer ontop of heat map


# Display Map

In [14]:
def get_first_hotel_name(lat, lng, rad) :
    result = gmaps_places.places("hotel",location=(lat,lng),radius = rad) 
    hotel_name = "Empty"
    for item in result['results'] :
        for k,v in item.items():            
            if k == "name":
                print(str(lat) + ", " + str(lng) +  ", " + str(rad) + ", " + str(v))
                return v
    return "Empty"

hotel_df = vac_weather.copy()
hotel_radius = 5000 # meter
hotel_locations = hotel_df[['Lat', 'Lng']]
hotel_names = []

for hotel_location_tuple in [tuple(i) for i in hotel_locations.values] :
    lat, lng = hotel_location_tuple
    hotel_name = get_first_hotel_name(lat, lng, hotel_radius)
    hotel_names.append(hotel_name)

hotel_df["Hotel Name"] = hotel_names
    
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#hotel_locations.count()
fig = gmaps.figure(map_type='SATELLITE',center =[0,0], zoom_level =2)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig.add_layer(gmaps.marker_layer(hotel_locations, info_box_content=hotel_info))
fig

-20.63, -46.0, 5000, Camaleao Hostel
-30.17, -50.22, 5000, Schenkel Hotel
-20.3, 44.28, 5000, Palissandre Cote Ouest resort & SPA
15.34, 74.49, 5000, Magenta Resort Dandeli
35.17, -2.93, 5000, Hotel Marchica Lagoon Resort, Nador Morocco
22.92, 96.51, 5000, Mount Mogok Hotel
32.86, 59.22, 5000, ITTIC Birjand Tourist Hotel

Figure(layout=FigureLayout(height='420px'))